.divider {
    height: 100px;
    width: 100px;
    position: relative;
}

.divider::after {
    content: "";
    background-color: var(--color);
    width: 1px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
}

@media (max-width: 768px) {
    .divider, .divider::after {
        height: 60px;
    }
    .divider {
        width: 80px;
    }
}