.hero {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}
.heroCover {
    position: absolute;
    top: 0;
    left: -250px;
    object-fit: contain;
    width: calc(100% + 500px);
    height: 100%;
}

.heroCover img {
    width: 100%;
    height: 100%;
}

.heroDate {
    font-size: 45px;
    font-weight: bold;
    z-index: 10;
}

.heroImage {
    width: 500px;
    height: auto;
    z-index: 10;
    margin-right: 100px;
    filter: saturate(1.3);
}

@media (max-width: 768px) {
    .hero {
        gap: 40px;
        overflow: hidden;
    }

    .heroDate {
        font-size: 30px;
    }

    .heroImage {
        width: 100%;
        max-width: 300px;
        margin-right: 0;
    }

    .heroCover {
        left: -125px;
        width: calc(100% + 250px);
    }
}