.heart {
  position: relative;
  display: inline-block;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner::before,
.inner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 80%;
  background: var(--heart-color);
  border-radius: 50% 50% 0 0;
}

.inner::before {
  left: 50%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.inner::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
