.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
}

.timer {
    display: flex;
    gap: 20px;
    z-index: 10;
    margin-bottom: 50px;
}

.timerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timerValue {
    font-size: 2rem;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border: 1px solid var(--color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timerLabel {
    font-size: 0.8rem;
    font-weight: normal;
}

.lastPhoto {
    width: 100%;
    max-width: 700px;
    height: 650px;
    object-fit: cover;
    object-position: center top;
    z-index: 10;
    margin-top: 30px;
    display: block;
}

@media (max-width: 768px) {
    .timer {
        gap: 10px;
    }

    .timerValue {
        font-size: 1.5rem;
        width: 65px;
        height: 65px;
    }

    .timerLabel {
        font-size: 0.7rem;
    }

    .lastPhoto {
        height: 450px;
    }
}
