@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url('/wall/bg.webp');
  overflow-x: hidden;
  width: 100%;
}

.content {
  max-width: 700px;
  width: 100%;
  gap: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .content {
    gap: 40px;
  }
}
