:root {
  font-family: Georgia, serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 25px;
  text-align: center;

  --color: #776252;
  --bgc: #f6eddd;

  color: var(--color);
  background-color: var(--bgc);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.childish {
  font-family: "Pangolin", sans-serif;
  font-size: 56px;
  max-width: 500px;
  line-height: 56px;
  margin: 100px auto;
}

@media (max-width: 768px) {
  :root {
    font-size: 20px;
  }

  .childish {
    font-size: 36px;
    line-height: 40px;
    margin: 50px auto;
  }
}

body {
  width: 100%;
}

section {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
