.iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--color);
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .iconCircle {
        height: 80px;
        width: 80px;
    }

    .iconCircle img {
        height: 48px;
    }
}